<% @group.each do |g| %>
    <div class="d-flex justify-content-between ps-3 pe-5">
    <img src="<%= g.icon %>" alt="#" />
    <%= link_to group_path(g.id) do %>
    <%= g.name %>
    <% end %>
    <p><%= Group.total_spending(params[:id]) %></p>
    </div>
<% end %>
<%= link_to "Add a new category", new_group_path, class: "btn btn-info text-light align-self-center w-100" %>