<h2 class="d-flex justify-content-center">Forgot your password?</h2>
<div class="w-75 m-auto">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-info text-light" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
